.login {
  padding: 2rem;
}
.title {
  text-align: center;
}
.form {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  min-width: 350px;
  max-width: 100%;
  border: 1px solid #cdd7d6;
  border-style: none solid;
  border-color: #cdd7d6;
  padding: 40px;
}
.form-label-login {
  margin-top: 2rem;
  color: #cdd7d6;
  margin-bottom: 0.5rem;
  &:first-of-type {
    margin-top: 0rem;
  }
}
.form-input-login {
  padding: 10px;
  text-align: center;
  background: none;
  background-image: none;
  border: 1px solid #cdd7d6;
  border-radius: 3px;
  color: #102542;
  &:focus {
    outline: 0;
    border-color: #31d843;
  }
}
.form-submit {
  background: #31d843;
  border: none;
  border-radius: 3px;
  color: white;
  margin-top: 3rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: #31d843;
  }
}
.register-buttom {
  background: #31d843;
  border: none;
  border-radius: 3px;
  color: white;
  margin-top: 3rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: #31d843;
  }
}
.error {
  margin: 1rem 0 0;
  color: #d00000;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #F87060;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #F87060;
 opacity: 1 /* esto es porque Firefox le reduce la opacidad por defecto */;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #F87060;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #F87060;
}